footer {
  scroll-snap-align: center;
  background: var(--secondaryColor);
}

.footer-container {
  padding: 4% 8%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 3%;
}

.footer-container img {
  width: 100%;
}

.footer-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-container p {
  margin: 0;
}

.footer-partners {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-logos {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
}

.footer-logos img {
  display: block;
  width: 30%;
}