:root {
  --mainColor: black;
  --secondaryColor: #101010;
  --themeColor: #FFC302;

  --fontColor: white;
  --mainFont: "Montserrat",sans-serif;
}

html, body {
  padding: 0;
  margin: auto;
  font-family: var(--mainFont);
  background-color: var(--mainColor);
}

.home {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

h1 {
  font-weight: 700;
  font-size: 6vw;
  color: white;
}

h2 {
  font-weight: 700;
  font-size: 4vw;
  color: var(--themeColor);
}

h3 {
  color: var(--fontColor);
  font-size: 4vw  ;
}

p {
  font-weight: 500;
  font-size: 1.8vw;
  color: var(--fontColor);
}

.url {
  color: var(--themeColor);
  text-decoration: underline;
  transition: .5s;
}

.url:hover {
  filter: brightness(1.2);
}

h1 span {
  color: var(--themeColor);
}

.greeting-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: center;
}

#greeting-container {
  width: 100%;
  height: 100%;
}

#greeting-container h1 {
  z-index: 2;
  position: absolute!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
  margin: 0!important;
  text-align: center;
}

.video-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: center;
}

#video-container {
  padding: 10%;
  text-align: center;
}

#video-container h2 {
  padding-bottom: 3%;
}

.text-video-container p {
  width: 48%;
  float: left;
}

.text-video-container video {
  width: 48%;
  float: right;
}

.mission-statement-section {
  height: 100vh ;
  scroll-snap-align: center;
}

#mission-statement-container {
  padding: 10%;
  text-align: center;
}

.get-involved-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: center;
}

#get-involved-container {
  padding: 10%;
  text-align: center;
}

#get-involved-container .button1 {
  margin: auto;
}

.page-section {
  padding: 8% 12%;
  text-align: center;
}

.page-section h1 {
  font-size: 8vw;
  color: var(--themeColor);
  margin: 4% 0;
}

.text-image-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4%;
  text-align: left;
}

.text-image-container img {
  width: 100%;
}

.text-container {
  text-align: left;
}